/* NAV
 ******/
.rb-nav {
	position: relative;

	// responsive toggle
	.toggle {
		display: none;
	}

	/* kinds
	 ********/
	&.main {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .5px;
		#fontSizes.nav.main;

		nav  { text-align: left; }
		.nav { border-bottom: none; } // ul
		li {
			a {
				padding: 10px 12px 19px;
				border-radius: 10px 10px 0 0;
				#fontColors.nav.main.link;
				&:focus { outline:none; }
				&:hover {
					#bg.nav.main.hover;
					#borders.nav.main.hover;
				}
			}
			&.active {
				a {
					#borders.nav.main.active;
					#fontColors.nav.main.active;
				}
			}
		}
	}

	&.sub {
		text-transform: lowercase;
	}

	&.mini {
		font-weight: bolder;
		text-transform: uppercase;
		#fontSizes.nav.mini;
		li {
			display: inline-block;
			a {
				display: inline-block;
				#fontColors.nav.mini.link;
				.rb-icon {
					margin: 0 0 0 5px;
					#fontSizes.nav.mini.icon;
				}
				&:focus { outline:none; }
				&:focus,
				&:hover {
					background-color: transparent;
					#fontColors.nav.mini.hover;
				}
			}
			&.active {
				a {
					#fontColors.nav.mini.active;
					&:hover { cursor: default; }
				}
			}
			.separator {
				display: inline-block;
				position: relative;
				top: 3px;
				height: 18px;
				margin: 0 3px;
				#borders.nav.mini.separators;
			}
			&:first-child {
				.separator {
					display: none;
				}
			}
		}
	}

	/* Options
	 **********/
	&[center] {
		text-align: center;
	}
}

/* Responsive
 *************/
@media (max-width: @screen-xs-max) {
	.rb-nav.responsive.main { // currently only styled for: main
		@rd: 8px;
		text-align: right;

		.shell {
			position: absolute;
			top: 0;
			right: 0;
		}

		.toggle {
			padding: 0 10px;
			border-radius: @rd;
			#fontColors.text;
			#bg.nav.responsive.toggle;
			#borders.nav.responsive.toggle;
			#fontSizes.nav.responsive.toggle;
			&:hover { #fontColors.links.hover; }
		}

		&.nav-open {
			.toggle {
				border-bottom: none;
				border-radius: @rd @rd 0 0;
			}
		}

		.nav {
			border-radius: @rd 0 @rd @rd;
			#bg.nav.responsive.menu;
			#borders.nav.responsive.menu;
			li {
				float: none;
				margin-bottom: 0;
				#borders.nav.responsive.links;
				&:first-child { border-top: none; }
				a {
					margin: 0;
					padding: 15px 12px;
					border: none;
					border-radius: 0;
					&:hover {
						#fontColors.links.hover;
						#bg.nav.responsive.links.hover;
					}
				}
				&.active {
					a {
						#fontColors.links.hover;
						#bg.nav.responsive.links.active;
					}
				}
				&:first-child { a { border-radius: @rd 0 0 0; } }
				&:last-child  { a { border-radius: 0 0 @rd @rd; } }
			}
		}
	}
}

/* Main Header
 **************/
header.main {
	.rb-nav {
		.shell {
			position: absolute;
			top: 38px;
			right: -15px;
		}
	}
}

/* Table Adjustments
 ********************/
table {
	.rb-nav {
		&.mini {
			margin-top: -4px;
		}
	}
}





