/* NAV
 ******/
.rb-nav {
	/* kinds
	 ********/
	&.main {
		font-weight: bold;
		font-variant: small-caps;
		text-transform: capitalize;
		letter-spacing: .5px;
		#fontSizes > .nav.main;
		li {
			a {
				padding: 10px 12px 15px;
				border-radius: 10px 10px 0 0;
				#fontColors > .nav.main.link;
				&:focus { outline:none; }
				&:hover {
					#bg > .nav.main.hover;
					#borders > .nav.main.hover;
				}
			}
			&.active {
				a {
					#borders > .nav.main.active;
					#fontColors > .nav.main.active;
				}
			}
		}
	}

	&.sub {
		text-transform: lowercase;
	}

	&.mini {
		text-transform: lowercase;
		li {
			display: inline-block;
			a {
				display: inline-block;
				border-radius: 10px;
				.caption {
					+ .glyphicon {
						margin: 0 0 0 5px;
					}
				}
			}
			.separator {
				display: inline-block;
				position: relative;
				top: 3px;
				height: 18px;
				margin: 0 3px;
				border-right: 1px solid #ddd;
			}
			&:first-child {
				.separator {
					display: none;
				}
			}
		}
	}
}

/* Table Adjustments
 ********************/
table {
	.rb-nav {
		&.mini {
			margin-top: -4px;
		}
	}
}





