<div>
	<h1>Develop Rapidly!</h1>

	<h3>Quick Start Includes:</h3>

	<h4>Project Root:</h4>
	<ul>
		<li>
			<a target="_blank" href="http://rapid-build.io/getting-started#directory-structure">directory structure</a>
		</li>
		<li>
			/rapid-build.cson
			<small>
				- for
				<a target="_blank" href="http://rapid-build.io/build-options">build options</a>
			</small>
		</li>
		<li>
			/.gitignore
		</li>
	</ul>

	<h4>Client:</h4>
	<ul>
		<li>
			/src/client/scripts/router.es6
			<small>
				- for <a target="_blank" href="https://docs.angularjs.org/api/ngRoute/provider/$routeProvider">angular router</a>
			</small>
		</li>
		<li>/src/client/styles/app.less</li>
		<li>/src/client/views/home.html</li>
	</ul>

	<h4>Server:</h4>
	<ul>
		<li>
			/src/server/routes.es6
			<small>
				- with one <a target="_blank" href="http://expressjs.com/en/guide/routing.html">express</a> route defined:
				<a target="_blank" href="/api/superheroes">/api/superheroes</a>
			</small>
		</li>
	</ul>
</div>