# folders
# =======
bower_components/
dist/
node_modules/

# dot files
# =========
.*.swp
._*
.DS_Store
.git
.lock-wscript
.orig
.svn

# file extensions
# ===============
*.db  # ex: Thumbs.db
*.log # ex: npm-debug.log

# root files
# ==========
/bower.json

# folder files
# ============
config/config.json
test/css/selectors.css

# files
# =====
files/**/*.*
src/client/**/*.*

# retain empty folder via .gitkeep
# ================================
!files/.gitkeep
!src/client/**/.gitkeep

# file negation
# =============
!src/client/spa.html