# folders
# =======
bower_components/
dist/
node_modules/
typings/

# dot files
# =========
.*.swp
._*
.DS_Store
.git
.lock-wscript
.svn

# file extensions
# ===============
*.db
*.log
*.map
*.orig
*.sublime*
*.tgz
*.tmp

# root folders
# ============
/lib/

# root files
# ==========
/extra/temp/**/*
/generated/**/*

# folder files
# ============

# files
# =====

# retain empty folder via .gitkeep
# ================================
!/extra/temp/.gitkeep
!/generated/.gitkeep

