bower_components/
dist/
node_modules/
public/
temp/
.DS_Store
.orig
ehthumbs.db
npm-debug.log
phantomjsdriver.log
test-results.xml
Thumbs.db
/bower.json

# templates
# =========
config/config.json
files/prod-files-blueprint.json
files/prod-files.json
files/files.json
src/client/scripts/app.coffee

# test
# ====
test/css/selectors.css

# docs
# ====
src/client/images/wolverine.png
src/client/views/docs
src/client/views/rapid-build.html