# folders
# =======
bower_components/
dist/

# dot files
# =========
.travis.yml

# file extensions
# ===============
*.db
*.log
*.map
*.orig
*.sublime*
*.tmp

# root folders
# ============
/artifacts/
/changelog/
/docs/
/extra/
/scripts/
/src/
/test/

# root files
# ==========

# folder files
# ============

# files
# =====
generated/**/*
lib/src/client/**/*.*

# retain empty folder via .gitkeep
# ================================
!generated/.gitkeep
!lib/src/client/**/.gitkeep

# file negation
# =============
!lib/src/client/spa.html