# folders
# =======
bower_components/ # also see scripts/prepublish.js
dist/

# dot files
# =========
.travis.yml

# file extensions
# ===============
*.db
*.log # ex: Thumbs.db
*.map
*.orig
*.sublime*
*.tmp

# root folders
# ============
/test/

# root files
# ==========
/bower.json

# folder files
# ============
config/config.json

# files
# =====
files/**/*.*
src/client/**/*.*

# retain empty folder via .gitkeep
# ================================
!files/.gitkeep
!src/client/**/.gitkeep

# file negation
# =============
!src/client/spa.html