# folders
# =======
bower_components/
dist/
typings/

# dot files
# =========
.travis.yml

# file extensions
# ===============
*.db
*.log
*.map
*.orig
*.sublime*
*.tmp

# root folders
# ============
/artifacts/
/changelog/
/extra/
/scripts/
/src/
/test/

# root files
# ==========

# folder files
# ============

# files
# =====
tsconfig.json
typings.json
generated/**/*

# retain empty folder via .gitkeep
# ================================
!generated/.gitkeep