.main-home {
	text-align: center;
	h1 {
		margin-bottom: 40px;
		line-height: 1.3;
	}
	h2 {
		margin-bottom: 30px;
	}
	.info {
		margin-bottom: 45px;
	}
	p {
		font-size: 18px;
	}
	pre {
		display: inline-block;
		margin-bottom: 25px;
		padding: 18px 25px;
		text-align: left;
		font-size: 15px;
		line-height:26px;
	}
}