.main-home {
	.hero {
		text-align: center;
		h1 {
			margin-bottom: 40px;
			line-height: 1.3;
		}
		h2 {
			margin-bottom: 30px;
			color: #1e90ff;
		}
		.info {
			margin-bottom: 45px;
		}
		p {
			color: #666;
			font-size: 18px;
		}
	}
}