/* UTILITY CLASSES
 ******************/
// positions
.absolute {
	position: absolute !important;
}
.relative {
	position: relative !important;
}

// displays
.inline-block {
	display: inline-block !important;
}

// text
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}