/* Variables
 ************/
// Font Sizes
#fontSizes {
	.h1   { font-size: 36px; }
	.h2   { font-size: 31px; }
	.h3   { font-size: 27px; }
	.h4   { font-size: 17px; }
	.h5   { font-size: 15px; }
	.h6   { font-size: 13px; }
	.text { font-size: 16px; }
	.nav {
		.main { font-size: 13px; }
		.mini { font-size: 13px; }
		.mini.icon { font-size: 14px; }
	}
}

// Font Colors
#fontColors {
	.h1    { color: lightslategrey; text-shadow: 1px 1px 4px #eee; } // #2b2d42
	.h2    { color: steelblue; }
	.h3    { color: steelblue; }
	.h4    { color: steelblue; }
	.h5    { color: steelblue; }
	.h6    { color: steelblue; }
	.text  { color: #58606D; }
	.links {
		color: lightcoral;
		&:hover { color: indianred; }
	}
	.layout {
		.footer { color: #999; }
	}
	.nav {
		.main {
			.link   { color: lightslategrey; }
			.active { color: dimgray;  }
		}
		.mini {
			.link   { color: #666; }
			.hover  { color: #999; }
			.active { color: #999; }
		}
	}
}

// Backgrounds
#bg {
	.layout {
		.header { background-color: #f5f5f5; }
		.footer { background-color: #333; } // #fbfbfb
	}
	.nav {
		.main {
			.hover { background-color: white; }
		}
	}
}

// Borders
#borders {
	.layout {
		@border: 1px solid #e5e5e5;
		.header { border-bottom: @border; }
		.footer { border-bottom: @border; border-top: @border; }
	}
	.nav {
		.main {
			.hover,
			.active {
				border: 1px solid #ddd;
				border-bottom-color: transparent;
			}
		}
		.mini {
			.separators {
				border-left:  1px solid #292929;
				border-right: 1px solid #494949;
			}
		}
	}
	.img {
		.bordered { border: 1px solid #999; }
	}
	.hr { border-top: 1px dashed #cacaca; }
	.section { border-bottom: 1px dashed #cacaca; }
}
