# folders
# =======
bower_components/
test/

# root folders
# ============
/src/

# dot files
# =========
.travis.yml

# file extensions
# ===============
*.db
*.log # ex: Thumbs.db
*.map
*.orig
*.sublime*
*.tmp

# Root Level Files
# ================
/-*
/build.js
/build-options.js

# build folders and files
# =======================
trunk/
ci.js
ci-config.properties
.CI/
*.nupkg
*.nuspec