/* Main Footer
 **************/
footer.main {
	padding-top: 45px;
	padding-bottom: 55px;
	text-align: center;
	#bg > .layout.footer;
	#borders > .layout.footer;
	#fontColors > .layout.footer;

	.logo-link  { display: inline-block; }
	.rb-version { display: block; }
	.logo-link  { margin-bottom: 17px; }
	.rb-version { margin-bottom: 15px; color: #666; }
}