section {
	margin: 0 0 35px;
	padding: 0 0 35px;
	#borders.section.default;

	&:last-child {
		border-bottom: none;
		margin: 0;
		padding: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	/* Kinds
	 ********/
	&.main {
		border-bottom: 1px solid #cacaca;
		margin-bottom: 0;
		// #borders.section.main;
	}
}